<!-- @format -->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- <link rel="stylesheet" href="static/style2.css">	 -->
	<title>Prediksi Diabetes</title>
		<!-- Style -->
		
		<!-- <link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='style2.css') }}"
		/> -->
		<!-- Style -->
	{% include "style1.html" %}
	</head>

	<body>
		<div id="booking" class="section">
			<div class="section-center">
				<div class="container">
					<div class="row">
						<div class="col-md-5 col-md-push-5">
							<div class="booking-form">
								<form action="/predict" method="post">
									<div class="form-group1">
										<span class="form-label">Kadar Glukosa</span>
										<input class="form-control" type="text" name="Glucose Level" placeholder="mg/dL" required="required" />
									</div>
									<div class="form-group1">
										<span class="form-label">Tekanan Darah</span>
										<input class="form-control" type="text" name="BloodPressure" placeholder="mmHg" required="required" />
									</div>
									<div class="form-group1">
										<span class="form-label">Berat badan</span>
										<input class="form-control" type="text" name="BMI" placeholder="kg" required="required" />
									</div>
									<div class="form-group1">
										<span class="form-label">Umur</span>
										<input class="form-control" type="text" name="Age" placeholder="Umur" required="required"/>
									</div>
									
									
									<div class="form-btn">
										<button type="submit" class="submit-btn1">Check</button>
									</div>
								</form>
							</div>
						</div>
					
						
						<div class="col-md-6 col-md-pull-7">
							<div class="booking-cta">
								<h1>Hello {{ nama }}</h1>
								<div class="result">
									{{ prediction_text }}
									<br>
									<br>
									<img src="{{ userimage }}"  width="50%">
								</div>
								
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>

		  <!-- bootstrap -->
		  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
			 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	</body>
</html>
