<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>PreDiabetes</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		
		
		<!-- Style -->
	{% include "style1.html" %}
	</head>

	<body>

		<div class="wrapper">
			<div class="inner">
				<form action="/sub" method="POST">
					<h3>PreDiabetes</h3>
					<p>Segera periksa kesehatan anda untuk melakukan prediksi penyakit diabetes pada anda</p>
					<div class="form-group">
						<input type="text" class="InputStyle" id="nama" name="nama" placeholder="Nama" required/>
						</div>
						<button>Check
							<i class="zmdi zmdi-arrow-right"></i>
						</button>
				</form>
			</div>
		</div>
		
	</body>
</html>